<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Quadrat</a>
  <button
    class="navbar-toggler position-absolute d-md-none collapsed"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu"
    aria-controls="sidebarMenu"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div>
    <input
      class="input-group-text"
      id="image-upload"
      type="file"
      (change)="onSelectFile($event)"
    />
    <!-- <label class="form-control" for="customFile">Upload Image</label> -->
  </div>
</header>

<div class="container-fluid">
  <div class="row no-gutters">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
    >
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">AOI</li>
          <li class="nav-item">
            <span
              ><button (click)="toggleAoi()" class="btn btn-primary">
                draw
              </button>
              {{ aoiDrawingMode }}</span
            >
          </li>
          <li class="nav-item">
            <select [(ngModel)]="aoiType" class="form-control">
              <option>Circle</option>
              <option>Polygon</option>
            </select>
          </li>
          <li class="nav-item">
            <button (click)="clearAoi()" class="btn btn-danger">Clear</button>
          </li>
          <li class="nav-item">Feature</li>
          <li class="nav-item">
            <span
              ><button (click)="toggleFeature()" class="btn btn-primary">
                draw
              </button>
              {{ featureDrawingMode }}</span
            >
          </li>
          <li class="nav-item">
            <button (click)="clearFeature()" class="btn btn-danger">
              Clear
            </button>
          </li>
          <!-- <li class="nav-item">
            <h4>Calculate</h4>
          </li> -->
          <li class="nav-item">Calculate</li>
          <li class="nav-item">
            <button (click)="calculate()" class="btn btn-primary">
              Calculate
            </button>
          </li>
          <li class="nav-item">{{ pct }}</li>
        </ul>
      </div>
    </nav>

    <main class="col-md-10">
      <div>
        <!-- class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" -->
        <!-- <h1 class="h2">Dashboard</h1> -->
        <div>
          <app-map
            [image]="image"
            [aoiDrawingMode]="aoiDrawingMode"
            [aoiType]="aoiType"
            [featureDrawingMode]="featureDrawingMode"
          ></app-map>
        </div>
      </div>
    </main>
  </div>
</div>
